/* General Styles */

.body-style {
    font-family: Arial, sans-serif;
    background-color: lightgrey;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    font-size: 40px;
    margin-bottom: 27px;
    text-align: center;
}

.chessboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 0;
    border: 1px solid #333;
}

.cell {
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dark-cell {
    background-color: #7AB7F5;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.light-cell {
    background-color: #EFEFEF;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.dark-cell:hover {
    background-color: #659DD4;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.light-cell:hover {
    background-color: #D2D2D2;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}


.piece {
    width: 45px;
    height: 45px;
}

.piece:hover {
    width: 50px;
    height: 50px;
}

.input-style {
    margin-top: 20px;
    border-radius: 10px;
    font-size: 24px;
}

.button-style {
    font-size: 25px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 12px 25px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, box-shadow 0.2s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.button-style:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7);
}

@media (max-width: 375px) {
    .title {
        font-size: 55px;
    }
    .cell {
        width: 91px;
        height: 91px;
    }
    .piece {
        width: 69px;
        height: 69px;
    }
    .piece:hover {
        width: 80px;
        height: 80px;
    }
    .input-style {
        font-size: 27px;
        padding: 14px 23px;
    }
    .button-style {
        font-size: 27px;
        padding: 14px 27px;
    }
}

@media (min-width: 376px) and (max-width: 767px) {
    .title {
        font-size: 64px;
    }
    .cell {
        width: 115px;
        height: 115px;
    }
    .piece {
        width: 80px;
        height: 80px;
    }
    .piece:hover {
        width: 91px;
        height: 91px;
    }
}

@media (min-width: 768px) and (max-width: 1079px) {
    .title {
        font-size: 73px;
    }
    .cell {
        width: 94px;
        height: 94px;
    }
    .piece {
        width: 69px;
        height: 69px;
    }
    .piece:hover {
        width: 78px;
        height: 78px;
    }
}

@media (min-width: 768px) and (max-width: 1079px) and (min-height: 1025px) and (max-height: 1180px) {
    .title {
        font-size: 50px;
    }

    .cell {
        width: 64px;
        height: 64px;
    }

    .piece {
        width: 47px;
        height: 47px;
    }

    .piece:hover {
        width: 54px;
        height: 54px;
    }
}

@media (min-width: 1080px) and (max-width: 1280px) and (min-height: 801px) {
    .title {
        font-size: 57px;
        margin-bottom: 27px;
    }

    .cell {
        width: 81px;
        height: 81px;
    }

    .piece {
        width: 61px;
        height: 61px;
    }

    .piece:hover {
        width: 68px;
        height: 68px;
    }

    .input-style {
        font-size: 22px;
        padding: 11px 19px;
        margin-top: 20px;
    }

    .button-style {
        margin-top: 20px;
        font-size: 25px;
        padding: 14px 28px;
    }

}

@media (min-width: 1080px) and (max-width: 1280px) and (min-height: 740px) and (max-height: 800px)  {
    .title {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .cell {
        width: 60px;
        height: 60px;
    }

    .piece {
        width: 45px;
        height: 45px;
    }

    .piece:hover {
        width: 50px;
        height: 50px;
    }
    .input-style {
        font-size: 16px;
        padding: 8px 14px;
        margin-top: 15px;
    }
    .button-style {
        font-size: 16px;
        padding: 8px 16px;
        margin-top: 15px;
    }

}

@media (min-width: 1024px) and (max-width: 1280px) and (min-height: 600px) and (max-height: 739px)  {
    .title {
        font-size: 33px;
        margin-bottom: 16px;
    }

    .cell {
        width: 48px;
        height: 48px;
    }

    .piece {
        width: 36px;
        height: 36px;
    }

    .piece:hover {
        width: 40px;
        height: 40px;
    }

    .input-style {
        font-size: 12px;
        padding: 6px 10px;
        margin-top: 11px;
    }

    .button-style {
        font-size: 12px;
        padding: 6px 12px;
        margin-top: 11px;
    }
}

@media (min-width: 1280px) and (max-width: 1919px) and (min-height: 719px) and (min-height: 1079px) {
    .title {
        font-size: 39px; /* Reduced by 30% */
        margin-bottom: 21px; /* Reduced by 30% */
    }
    .cell {
        width: 67px; /* Reduced by 30% */
        height: 67px; /* Reduced by 30% */
    }
    .piece {
        width: 49px; /* Reduced by 30% */
        height: 49px; /* Reduced by 30% */
    }
    .piece:hover {
        width: 56px; /* Reduced by 30% */
        height: 56px; /* Reduced by 30% */
    }
    .input-style {
        font-size: 14px; /* Reduced by 30% */
        padding: 7px 13px; /* Reduced by 30% */
    }
    .button-style {
        font-size: 15px; /* Reduced by 30% */
        padding: 9px 17px; /* Reduced by 30% */
    }
}

@media (min-width: 1920px) and (min-height: 1080px) {
    .title {
        font-size: 49px; /* Reduced by 30% */
        margin-bottom: 28px; /* Reduced by 30% */
    }
    .cell {
        width: 77px; /* Reduced by 30% */
        height: 77px; /* Reduced by 30% */
    }
    .piece {
        width: 63px; /* Reduced by 30% */
        height: 63px; /* Reduced by 30% */
    }
    .piece:hover {
        width: 70px; /* Reduced by 30% */
        height: 70px; /* Reduced by 30% */
    }
    .input-style {
        font-size: 17px; /* Reduced by 30% */
        padding: 9px 14px; /* Reduced by 30% */
    }
    .button-style {
        font-size: 17px; /* Reduced by 30% */
        padding: 10px 19px; /* Reduced by 30% */
    }
}
