@(controller: chess.controller.IController)

@cellClass(row: Int, col: Int) = @{
  if ((row + col) % 2 == 0) "dark-cell" else "light-cell"
}

@main("HTWG CHESS") {

  <head>
    <link rel="stylesheet" href="@routes.Assets.versioned("stylesheets/chess.css")"/>
    <title>Chess Game</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="@routes.Assets.versioned("javascripts/Vue.js")" ></script>
    <script src="@routes.Assets.versioned("javascripts/chessVue.js")" ></script>
    <script>
            const basePath = "@routes.Assets.versioned("images")";
    </script>
  </head>
    <body class="body-style">
      <h1 class="title">Welcome to CHESS!</h1>
      <div class="chessboard">
          <div id="game" class="container">
          <chess-board></chess-board>
        </div>
      </div>
    </body>
}